<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (c) 2017 BlackBerry.  All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bbm.example.whiteboard">

    <!-- Optional, just used for creating zip of log files to send -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk tools:overrideLibrary="com.bbm.sdk"/>

    <application
        android:name="com.bbm.example.whiteboard.WhiteboardApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Update this with the value provided by the BBM Enterprise Team -->
        <meta-data
            android:name="com.bbm.sdk.UserDomain"
            android:value="@string/USER_DOMAIN" />

        <!--
        This is used to point the SDK to the Sandbox environment. If you want to use the Production environment
        remove the value below from your manifest
        -->
        <meta-data
            android:name="com.bbm.sdk.environment.sandbox"
            android:value="true" />

        <!--
        Set this to false to disable logging to files, this will allow the logs to be shown in logcat. The SDK does not
        attempt to log to both files and logcat
        -->
        <meta-data
            android:name="com.bbm.sdk.LogToFiles"
            android:value="false" />

        <activity
            android:name="com.bbm.example.whiteboard.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bbm.example.whiteboard.WhiteboardActivity"
            android:label="@string/title_activity_whiteboard"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>