body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: ArialMT, Arial;;
  font-size: 16px;
}

.application-header {
  min-height: 53px;
  background: #087099;
  width: 100vw;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  font-weight: bold;
}

.application-header .simple-button {
  border-radius: 50%;
  background-color: rgba(255,255,255,0.1);
  color: white;
  font-size: 23px;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  align-items: center;
  display: none;
  flex-flow: column;
  cursor: pointer;
  margin-left: 10px;
}

.application-header .header-title {
  margin-left: 10px;
}

.item {
  @apply --layout-horizontal;
  margin: 16px 16px 0 16px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid #ddd;
}